* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
  }
  
  h1 {
    background: #081b31;
    color: #fff;
    line-height: 4rem;
    font-size: 2rem;
  }
  
  img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
  }
  
  .choice {
    max-width: 200px;
    cursor: pointer;
  }
  
  .contain {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 5rem;
    flex-wrap: wrap;
  }
  
  .contain:hover .choice:not(:hover) img {
    filter: blur(3px);
    opacity: 0.6;
    transition: 0.3s;
  }
  
  .score_board {
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin: 3rem 0;
    font-size: 1.5rem;
    flex-wrap: wrap;
  }
  
  #bros-score, #comptuer-score {
    font-size: 2rem;
  }
  
  .result {
    margin: 2rem;
    display: inline-block;
  }
  
  
  #msg {
    background: #081b31;
    color: #fff;
    padding: 1rem;
    border-radius: 1rem;
    max-width: 90%;
    margin: 1rem auto;
    line-height: 1.4;
    font-size: 1rem;
    white-space: pre-line;
  }
 
/* lightning effect */
  .lightning-flash {
    text-align: right;
    margin-right: 1rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    color: black;
    text-shadow: 0 0 20px black;
    animation: lightning 2s infinite;
  }

  @keyframes lightning {
    0%, 100% {
      opacity: 1;
    }
    2%, 3% {
      opacity: 0;
    }
    4%, 5% {
      opacity: 1;
    }
    6%, 15% {
      opacity: 0;
    }
    16%, 18% {
      opacity: 1;
    }
    19%, 30% {
      opacity: 0;
    }
    31%, 70% {
      opacity: 1;
    }
    71%, 100% {
      opacity: 0;
    }
  }
